# This is Git's per-user configuration file.
[user]
    name = Takumi Sueda
    email = puhitaku@gmail.com

[url "git@github.com:"]
    insteadOf = https://github.com/

[url "git@bitbucket.org:"]
    insteadOf = https://bitbucket.org/

[core]
    editor = vim
    quotepath = false
    pager = "less -RFX"
    commitGraph = true

[gc]
    writeCommitGraph = true

[push]
    autoSetupRemote = true

[pull]
    ff = only

[ghq]
    root = ~/dev/go/src
    root = ~/dev

[sendemail]
    smtpServer = smtp.gmail.com
    smtpServerPort = 587
    smtpEncryption = tls
    smtpUser = puhitaku@gmail.com

[credential]
    helper = store

[color]
    ui = auto
