[submodule "vim/pack/syntax/start/python-syntax"]
	path = vim/pack/syntax/start/python-syntax
	url = https://github.com/vim-python/python-syntax.git
[submodule "vim/pack/syntax/start/zig.vim"]
	path = vim/pack/syntax/start/zig.vim
	url = https://github.com/ziglang/zig.vim
[submodule "vim/pack/format/start/editorconfig-vim"]
	path = vim/pack/format/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "scripts/vendor/defer"]
	path = scripts/vendor/defer
	url = https://github.com/dankeyy/defer.py.git
[submodule "scripts/vendor/obsws-python"]
	path = scripts/vendor/obsws-python
	url = https://github.com/aatikturk/obsws-python.git
[submodule "scripts/vendor/requests"]
	path = scripts/vendor/requests
	url = https://github.com/psf/requests.git
[submodule "scripts/vendor/click"]
	path = scripts/vendor/click
	url = https://github.com/pallets/click.git
[submodule "vim/pack/themes/start/darcula"]
	path = vim/pack/themes/start/darcula
	url = https://github.com/puhitaku/darcula.git
